# Resources required by the sample browser and most samples.
[Essential]
Zip=../Dependencies/ogre-1.12.5/Media/packs/SdkTrays.zip

# Resource locations to be added to the default path
[General]
FileSystem=./Assets
FileSystem=./Assets/Animations
FileSystem=./Assets/Materials
FileSystem=./Assets/Meshes
FileSystem=./Assets/Shaders
FileSystem=./Assets/Textures
FileSystem=./Assets/Particles

[Imagesets]
FileSystem=../Dependencies/cegui-0.8.7/datafiles/imagesets
[Fonts]
FileSystem=../Dependencies/cegui-0.8.7/datafiles/fonts
[Schemes]
FileSystem=../Dependencies/cegui-0.8.7/datafiles/schemes
[LookNFeel]
FileSystem=../Dependencies/cegui-0.8.7/datafiles/looknfeel
[Layouts]
FileSystem=../Dependencies/cegui-0.8.7/datafiles/layouts